* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
}
.index-header {
  background-image: linear-gradient(90deg, #000 50%, #fff 50%);
}
li {
  list-style: none;
}
.nav-menu {
  min-height: 70px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-transform: uppercase;
}
.nav-link {
  transition: 0.1s ease;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 80%;
  align-items: center;
  height: 100%;
}
.logo img {
  display: block;
  width: 100%;
  max-height: 4rem;
  width: auto;
  height: auto;
}
.items {
  display: flex;
  gap: 1rem;
  color: black;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}
.nav-menu li:hover {
  border-bottom: white solid 5px;
  padding-bottom: 0.5rem;
  mix-blend-mode: difference;
  margin-top: -5px;
}
a:is(:link, :active, :visited).active {
  color: black;
  background-color: white;
  height: 2rem;
  padding: 7px 10px;
}
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  mix-blend-mode: difference;
}
@media (max-width: 1020px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    height: 11rem;
    gap: 0;
    flex-direction: column;
    background-color: black;
    mix-blend-mode: difference;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 1rem 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}
.container-main {
  width: 70%;
  max-width: 70%;
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding-top: 7rem;
  gap: 5rem;
}
.index-fonas {
  height: calc(100vh - 104px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #fff 50%, #000 50%);
}
.index-h1 {
  color: #fff;
  mix-blend-mode: difference;
  text-align: center;
  padding: 0;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}
.searchForm {
  display: flex;
  gap: 0px;
  padding-bottom: 9rem;
}
.searchInput {
  border: 2px solid black;
  width: 15rem;
  height: 2rem;
  outline: none;
}
.searchButton {
  border-radius: 0px;
  background: black;
  border: black;
  color: white;
  width: 3rem;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer {
  width: 80%;
  max-width: 80%;
  color: white;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  mix-blend-mode: difference;
}
.index-footer {
  background-image: linear-gradient(90deg, #000 50%, #fff 50%);
}
